.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 10%;
}

.item {
  position: relative;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  height: 800px;
  margin-bottom: 20px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.item:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.shop-button {
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: #555;
}

/* section - about */
.container-about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  margin-top: 6%;
}
.text-section {
  flex: 1;
  max-width: 600px;
}
.image-section {
  flex: 1;
  max-width: 600px;
}
.responsive-image {
  width: 100%;
  height: auto;
  max-width: 600px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .text-section,
  .image-section {
    max-width: 100%;
  }
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.button:hover {
  background-color: #555;
  color: #ddd;
}
