.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;

  align-items: center;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 1px solid #e1e1e1; */
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  width: 30%;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.product-info {
  flex: 1;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-description {
  font-size: 14px;
  color: #666;
}
